body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  display:flex;
  flex-direction: column;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
}

.grow{
  flex-grow:1;
}